<html>
    <head>
        {% block title %}<title>{{title}}</title>{% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        {#{% stylesheets %}#}
        <link rel="stylesheet" href="{{ asset('bootstrap-3.3.4/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bootstrap-3.3.4/css/style.css') }}" />
    {#    {% endstylesheets  %}#}
        {#
        {% javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endjavascripts %}
        #}
    </head>
    <body>
        {% block date_du_jour %}
            <em>{{dateDuJour|convert_encoding('UTF-8', 'ISO-8859-1')}}</em>
        {% endblock %}
        {% block anneScolaire %}
            <em>Année Scolaire : {{anneeScolaire}}</em>
        {% endblock %}
            
       
            <h1>On djarama yo GS Kaloum</h1>
            <br/>
            <h3>Voulez-vous vraiment supprimez cet élève et ces paiements ?</h3>
            {{form_start(form, {'action': path('djama_paiement_suppression', {'numEleve': numEleve, 'numClasse': numClasse}), 'method':'POST'}) }}
            {{form_errors(form)}}
            <!--afficher ici la photo -->
            <img src="{{asset(photo)}}" width="{{70}}px" height="{{70}}px" />
            <div class="elevediv">
                {{form_errors(form.sexe)}}
                {{form_label(form.sexe, 'Sexe :')}}
                {{person.sexe}}
                <br/>
                
                {{form_errors(form.nom)}}
                {{form_label(form.nom, 'Nom :')}}
                {{person.nom}}
                <br/>
                
                {{form_errors(form.prenom)}}
                {{form_label(form.prenom, 'Prénom :')}}
                {{person.prenom}}
                <br/>
                
                {{form_errors(form.montantMens)}}
                {{form_label(form.montantMens, 'Montant Mensuel :')}}
                {{person.montantMens}}
                <br/>
                
                {{form_errors(form.montantAnn)}}
                {{form_label(form.montantAnn, 'Montant Annuel :')}}
                {{person.montantAnn}}
                <br/>
                  
                {{form_errors(form.totalPai)}}
                {{form_label(form.totalPai, 'Total Paiement :')}}
                {{person.totalPai}}
                <br/>
                
                {{form_errors(form.datePai1)}}
                {{form_label(form.datePai1, 'Date Oct :')}}
                {{person.datePai1}}
                <br/>
                
                {{form_errors(form.octobre)}}
                {{form_label(form.octobre, 'Octobre :')}}
                {{person.octobre}}
                <br/>
                
                {{form_errors(form.montantOct)}}
                {{form_label(form.montantOct, 'Montant Oct :')}}
                {{person.montantOct}}
                <br/>
                
                {{form_errors(form.datePai2)}}
                {{form_label(form.datePai2, 'Date Nov :')}}
                {{person.datePai2}}
                <br/>
                
                {{form_errors(form.novembre)}}
                {{form_label(form.novembre, 'Novembre :')}}
                {{person.novembre}}
                <br/>
                
                {{form_errors(form.montantNov)}}
                {{form_label(form.montantNov, 'Montant Nov :')}}
                {{person.montantNov}}
                <br/>
                
                {{form_errors(form.datePai3)}}
                {{form_label(form.datePai3, 'Date Déc :')}}
                {{person.datePai3}}
                <br/>
                
                {{form_errors(form.decembre)}}
                {{form_label(form.decembre, 'Décembre :')}}
                {{person.decembre}}
                <br/>
                
                {{form_errors(form.montantDec)}}
                {{form_label(form.montantDec, 'Montant Dé :')}}
                {{person.montantDec}}
                <br/>
                
                {{form_errors(form.datePai4)}}
                {{form_label(form.datePai4, 'Date Janv :')}}
                {{person.datePai4}}
                <br/>
                
                {{form_errors(form.janvier)}}
                {{form_label(form.janvier, 'Janvier :')}}
                {{person.janvier}}
                {{form_errors(form.montantJan)}}
                {{form_label(form.montantJan, 'Montant Janv :')}}
                {{person.montantJan}}
            </div>            
            <div class="col-sm-offset-7">
                {{form_errors(form.datePai5)}}
                {{form_label(form.datePai5, 'Date Fév :')}}
                {{person.datePai5}}
                <br/>
                
                {{form_errors(form.fevrier)}}
                {{form_label(form.fevrier, 'Février :')}}
                {{person.fevrier}}
                <br/>
                
                {{form_errors(form.montantFev)}}
                {{form_label(form.montantFev, 'Montant Fév :')}}
                {{person.montantFev}}
                <br/>
                
                {{form_errors(form.datePai6)}}
                {{form_label(form.datePai6, 'Date Mars :')}}
                {{person.datePai6}}
                <br/>
                
                {{form_errors(form.mars)}}
                {{form_label(form.mars, 'Mars :')}}
                {{person.mars}}
                <br/>
                
                {{form_errors(form.montantMars)}}
                {{form_label(form.montantMars, 'Montant Mars :')}}
                {{person.montantMars}}
                <br/>
                
                {{form_errors(form.datePai7)}}
                {{form_label(form.datePai7, 'Date AVril :')}}
                {{person.datePai7}}
                <br/>
                
                {{form_errors(form.avril)}}
                {{form_label(form.avril, 'Avril :')}}
                {{person.avril}}
                <br/>
                
                {{form_errors(form.montantAv)}}
                {{form_label(form.montantAv, 'Montant Avril :')}}
                {{person.montantAv}}
                <br/>
                
                {{form_errors(form.datePai8)}}
                {{form_label(form.datePai8, 'Date Mai :')}}
                {{person.datePai8}}
                <br/>
                
                {{form_errors(form.mai)}}
                {{form_label(form.mai, 'Mai :')}}
                {{person.mai}}
                <br/>
                
                {{form_errors(form.montantMai)}}
                {{form_label(form.montantMai, 'Montant Mai :')}}
                {{person.montantMai}}
                <br/>
                
                {{form_errors(form.datePai9)}}
                {{form_label(form.datePai9, 'Date Juin :')}}
                {{person.datePai9}}
                <br/>
                
                {{form_errors(form.juin)}}
                {{form_label(form.juin, 'Juin :')}}
                {{person.juin}}
                <br/>
                
                {{form_errors(form.montantJuin)}}
                {{form_label(form.montantJuin, 'Montant Juin :')}}
                {{person.montantJuin}}
                <br/>
                
                {{form_errors(form.nomAppre)}}
                {{form_label(form.nomAppre, 'Appréciation :')}}
                {{person.nomAppre}}
                <br/>
                
                {{form_errors(form.commentaire)}}
                {{form_label(form.commentaire, 'Commentaire :')}}
                {{person.commentaire}}
            </div>
            {{form_rest(form)}}
               <p>{{form_label(form.Supprimer)}}
                   {{form_label(form.Annuller)}}</p>
             
            {{form_end(form)}}
    </body>
</html>