{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>
        {% block title %}<title>{{title}}</title>{% endblock %}
        
        <meta http-equiv="\"Content-Type\"" content="\"text/html;charset=utf-8\"">
        
        {#{% stylesheets %}
        <link rel="stylesheet" href="{{ asset('djama/DjamaBundle/bootstrap-3.3.4/css/bootstrap.min.css') }}" />#}
        <link rel="stylesheet" href="{{ asset('bootstrap-3.3.4/css/style.css') }}" />
    {#    {% endstylesheets  %}#}
        {#
        {% javascripts %} #}
        <script src="{{ asset('//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js') }}"></script>
        <script src="{{ asset('jQuery-table2excel/src/jquery.table2excel.js') }}"></script>
    {#    {% endjavascripts %}
        #}
    </head>
    <body>
        {% block date_du_jour %}
            <em>{{dateDuJour|convert_encoding('UTF-8', 'ISO-8859-1')}}</em>
        {% endblock %}
        {% block anneScolaire %}
            <em>Année Scolaire : {{anneeScolaire}}</em>
        {% endblock %}
            
       
            <h1>On djarama yo GS Kaloum</h1>
            <br/>

        {% if partie is sameas(1) %}
            {{form_start(form, {'action': path('djama_paiement_saisiereglepaiement'), 'method': 'POST'})}}
            {{form_errors(form)}}
                
                {{form_errors(form.nomReglePai)}}
                {{form_label(form.nomReglePai, 'Nom Règle : ')}}
                {{form_widget(form.nomReglePai, {'attr' : {'placeholder' : 'écrivez une règle ici'}})}}
                
                {{form_errors(form.periodeDebut)}}
                {{form_label(form.periodeDebut, 'Période Début')}}
                {{form_widget(form.periodeDebut)}}
                
                {{form_errors(form.periodeFin)}}
                {{form_label(form.periodeFin, 'Période Fin')}}
                {{form_widget(form.periodeFin)}}
            
            {{form_rest(form)}}
                <input type="submit" value="Enregistrer"/>
            {{form_end(form)}}
        {% elseif partie is sameas(2) %}
            <div>
                {{form_start(form, {'action': path('djama_paiement_modifandsuppreglepaiement', {'numReglePai':numReglePai, 'bool':bool}), 'method': 'POST'}) }}
                {{form_errors(form)}}
                
                    {{form_errors(form.nomReglePai)}}
                    {{form_label(form.nomReglePai, 'Nom Règle : ')}}
                    {{form_widget(form.nomReglePai, {'attr' : {'placeholder' : 'écrivez une règle ici'}})}}

                    {{form_errors(form.periodeDebut)}}
                    {{form_label(form.periodeDebut, 'Période Début')}}
                    {{form_widget(form.periodeDebut)}}

                    {{form_errors(form.periodeFin)}}
                    {{form_label(form.periodeFin, 'Période Fin')}}
                    {{form_widget(form.periodeFin)}}
            
                {{form_rest(form)}}
                    <input type="submit" value="Modifier"/>
                {{form_end(form)}}
            </div>
        
        {% elseif partie is sameas(3) %}
            <div>
                <h3>Voulez-vous vraiment supprimer cette règle ? </h3>
                {{form_start(form, {'action': path('djama_paiement_modifandsuppreglepaiement', {'numReglePai':numReglePai, 'bool':bool}), 'method': 'POST'}) }}
                {{form_errors(form)}}
                
                    {{form_errors(form.nomReglePai)}}
                    {{form_label(form.nomReglePai, 'Nom Règle : ')}}
                    {{form_widget(form.nomReglePai, {'attr' : {'placeholder' : 'écrivez une règle ici'}})}}

                    {{form_errors(form.periodeDebut)}}
                    {{form_label(form.periodeDebut, 'Période Début')}}
                    {{form_widget(form.periodeDebut)}}

                    {{form_errors(form.periodeFin)}}
                    {{form_label(form.periodeFin, 'Période Fin')}}
                    {{form_widget(form.periodeFin)}}
            
                {{form_rest(form)}}
                    <input type="submit" value="Supprimez"/>
                {{form_end(form)}}
            </div>
        {% else %}
            Erreur!! faitez précédent !
        {% endif %}
    </body>
</html>